@model IEnumerable<GROW_CRM.Models.Employee>

@{
    ViewData["Title"] = "Employee Index";
}

<h2>Employee Index</h2>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Create New Employee</a>
</p>
<div class="text-danger">@TempData["message"]</div>

<div class="table-responsive">
<table class="table table-striped rounded-lg">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    @if (item.Subscriptions.Count() > 0)
                    {
                        @:| @{<a asp-controller="WebPush" asp-action="Send" asp-route-id="@item.ID">Send Notification</a>}
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
}