
@model IEnumerable<GROW_CRM.Models.Item>

@{
    ViewData["Title"] = "Items";
}

<div class="row mb-3">
    <div class="col-md-12 ">
        <h2>Items</h2>
    </div>
</div>

<form asp-action="Index" method="get">
    @if(!(Context.Request.Query["pageSizeID"].FirstOrDefault() is null))
    {
        <input type="hidden" name="pageSizeID" value="@Context.Request.Query["pageSizeID"]"/>   
    }    
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
                Filter/Search
</button>
        <a asp-action="Create" class="btn btn-outline-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" fill="currentColor" class="bi bi-plus-circle" viewBox="0 1 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg> New Item
        </a>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Category:</label>
                        @Html.DropDownList("CategoryID", null, "All Categories", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Price Status:</label>
                        <div class="border-top pt-2">
                            <div class="form-check form-check-inline pr-2">
                                @Html.RadioButton("ProductPriceStatus", "false", htmlAttributes: new { @class = "mr-1", @id = "ProductPriceStatus1", @checked = "checked" })
                                <label class="form-check-label" for="ProductPriceStatus1"> All Items</label>
                            </div>
                            <div class="form-check form-check-inline">
                                @Html.RadioButton("ProductPriceStatus", "true", htmlAttributes: new { @class = "mr-1", @id = "ProductPriceStatus2" });
                                <label class="form-check-label" for="ProductPriceStatus2"> Items On Sale</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <button type="submit" class="btn btn-outline-primary" name="actionButton">
                            <i class='fa-solid fa-filter'></i> Filter
                        </button>
                        <a asp-action="Index" class="btn btn-outline-dark"> <i class="fa-solid fa-arrows-rotate"></i> Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-2">
    <table class="table table-striped rounded-lg">
        @{
            string bold = "font-weight-bold";
            string field = ViewData["sortField"].ToString();

            string direction = "▼";
            if (ViewData["sortDirection"].ToString() == "desc")
            {
                direction = "▲";
            }
        }
        <thead class="thead-dark" >
            <tr>
                <th>
                    @if (field == "Code")
                    {
                        <input type="submit" name="actionButton" value="Code" class="btn btn-link @bold" />
                        <span class="text-white">@direction</span>
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Code" class="btn btn-link" />
                    }
                </th>
                <th>
                    @if (field == "Name")
                    {
                        <input type="submit" name="actionButton" value="Name" class="btn btn-link @bold" />
                        <span class="text-white">@direction</span>
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Name" class="btn btn-link" />
                    }
                </th>
                <th>
                    @if (field == "Category")
                    {
                        <input type="submit" name="actionButton" value="Category" class="btn btn-link  @bold" />
                        <span class="text-white">@direction</span>
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Category" class="btn btn-link" />
                    }
                </th>
                <th>
                    @if (field == "Discount (%)")
                    {
                        <input type="submit" name="actionButton" value="Discount (%)" class="btn btn-link  @bold" />
                        <span class="text-white">@direction</span>
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Discount (%)" class="btn btn-link" />
                    }
                </th>
                <th>
                    @if (field == "Price ($)")
                    {
                        <input type="submit" name="actionButton" value="Price ($)" class="btn btn-link  @bold" />
                        <span class="text-white">@direction</span>
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Price ($)" class="btn btn-link" />
                    }
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @{
                            string setRedText = "";
                            if (item.Discount.HasValue)
                            {
                                <del class="d-block">@Html.DisplayFor(modelItem => item.Price)</del>
                                setRedText = " text-danger font-weight-bold";
                            }
                        }
                        <span class="@setRedText">
                            @Html.DisplayFor(modelItem => item.PriceAfterDiscount)
                        </span>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="text-warning h4" data-toggle="tooltip" data-placement="top" title="Edit"><i class='bx bxs-edit-alt' style="color:grey"></i></a> 
                        <a asp-action="Details" class="h4" data-toggle="tooltip" data-placement="top" title="Details" asp-route-id="@item.ID"> <i class='bx bx-info-square'></i></a> 
                        <a asp-action="Delete" class="text-danger h4" data-toggle="tooltip" data-placement="top" title="Delete" asp-route-id="@item.ID"> <i class='bx bx-minus-circle'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <partial name="_PagingNavBar" />
</form>
@section Scripts {
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
}