@model GROW_CRM.Models.About

@{
    ViewData["Title"] = "Details";
}

    <h2>Fixed Address</h2>
    <p>Use this address for members with no fixed household address</p>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrgName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrgName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WebSite)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WebSite)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StreetNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StreetNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StreetName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StreetName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AptNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AptNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Province)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Province.Name)
            </dd>
        </dl>
        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    </div>
    <div>

        @*<a asp-action="Index">Back to List</a>*@
    </div>