@using GROW_CRM.ViewModels.ReportsViewModels

@{
    ViewData["Title"] = "Reports";
}

<h1>@ViewData["Name"]</h1>

@using (Html.BeginForm("SelectedReport", "Reports", FormMethod.Get))
{
    <fieldset>
        <label for="Reports">Select a Report:</label>
        @Html.DropDownList("Reports")

        <input type="submit" value="Submit" />
    </fieldset>
}

@if ((int)ViewData["Count"] < 1)
{
    <h3>Sorry, there is no membership that applies to this report right now.</h3>
}

@{
    if ((string)ViewData["ReportType"] == "Renewal Report")
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (string header in (string[])ViewBag.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (RenewalReport item in ViewBag.Report)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Members)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Income)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastVerified.Date)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else if ((string)ViewData["ReportType"] == "New Memberships Report")
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (string header in (string[])ViewBag.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (NewAdditionsReport item in ViewBag.Report)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Members)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Income)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if ((string)ViewData["ReportType"] == "Demographics Report")
    {
        <h2>Demographics By Gender</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Gender</th>
                    <th>Percentage</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GenderReport item in ViewBag.GenderReport)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @(Math.Round(item.Percentage, 2) * 100)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <h2>Demographics By Age</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Age Range</th>
                    <th>Percentage</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AgeReport item in ViewBag.AgeReport)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AgeRange)
                        </td>
                        <td>
                            @(Math.Round(item.Percentage, 2) * 100)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h2>Demographics By Dietary Restrictions</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Restriction</th>
                    <th>Percentage</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DietaryReport item in ViewBag.DietaryReport)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restriction)
                        </td>
                        <td>
                            @(Math.Round(item.Percentage, 2) * 100)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if ((string)ViewData["ReportType"] == "Mapping Report")
    {
        <h2>Demographics By Cities</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Percentage</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CitiesReport item in ViewBag.CitiesReport)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @(Math.Round(item.Percentage, 2) * 100)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Total)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        foreach (List<CityReport> cs in ViewBag.CityReports)
        {            
            @if (cs.Count() > 0)
            {
                <h2>@cs[0].Name</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Postal Code</th>
                            <th>Number of Members</th>
                            <th>Yearly Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CityReport c in cs)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => c.PostalCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => c.NumberOfMembers)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => c.TotalIncome)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
            }

        }
    }
}
