@using GROW_CRM.ViewModels.ReportsViewModels

@{
    ViewData["Title"] = "Reports";
}

<h1>Reports</h1>

@using (Html.BeginForm("SelectedReport", "Reports", FormMethod.Get))
{
    <label for="Reports">Select a Report:</label>

    <fieldset>
        <div>
            @Html.DropDownList("Reports", null, htmlAttributes: new { @style = "width: 25vw; height: 5vh;" })
        </div>
        <br />
        <input type="submit" class="btn btn-info" value="Submit" />
    </fieldset>
}
<br />
<br />

<h1>@ViewData["Name"]</h1>
<br />


@if ((int)ViewData["Count"] < 1)
{
    <br>
    <h3>Sorry, there are no households that apply to this report.</h3>
    <br>
}

@{
    if ((string)ViewData["ReportType"] == "Renewal Report")
    {
        @if ((int)ViewData["Count"] > 0)
        {
            <a asp-action="DownloadRenewal" class="btn btn-info float-left">Download Renewal Report</a>
        }

        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (string header in (string[])ViewBag.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (RenewalReport item in ViewBag.Report)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Members)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Income)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastVerified.Date)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }
    else if ((string)ViewData["ReportType"] == "New Households Report")
    {
        <a asp-action="DownloadNewMembers" class="btn btn-info float-left">Download New Members Report</a>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (string header in (string[])ViewBag.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (NewAdditionsReport item in ViewBag.Report)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Members)
                        </td>
                        <td>
                           $ @Html.DisplayFor(modelItem => item.Income)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if ((string)ViewData["ReportType"] == "Demographics Report")
    {
        <div class="row">
            <a asp-action="DownloadDemographics" class="btn btn-info float-left">Download Demographics Report</a>
        </div>
        <br />
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h2>Demographics By Gender</h2>
                        </button>
                    </h5>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Gender</th>
                                        <th>Percentage</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (GenderReport item in ViewBag.GenderReport)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Gender)
                                            </td>
                                            <td>
                                                @(Math.Round(item.Percentage *100 , 2))%
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <h2>Demographics By Age</h2>
                        </button>
                    </h5>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Age Range</th>
                                        <th>Percentage</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (AgeReport item in ViewBag.AgeReport)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AgeRange)
                                            </td>
                                            <td>
                                                @(Math.Round(item.Percentage * 100, 2))%
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br />

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <h2>Demographics By Dietary Restrictions</h2>
                        </button>
                    </h5>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Restriction</th>
                                        <th>Percentage</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DietaryReport item in ViewBag.DietaryReport)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Restriction)
                                            </td>
                                            <td>
                                                @(Math.Round(item.Percentage * 100, 2))%
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else if ((string)ViewData["ReportType"] == "Mapping Report")
    {
        <div class="row">
            <a asp-action="DownloadMapping" class="btn btn-info float-left">Download Mapping Report</a>
        </div>
        <br />
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <h2>Demographics By Cities</h2>
                        </button>
                    </h5>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>City</th>
                                        <th>Percentage</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CitiesReport item in ViewBag.CitiesReport)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @(Math.Round(item.Percentage * 100, 2))%
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        foreach (List<CityReport> cs in ViewBag.CityReports)
        {
            @if (cs.Count() > 0)
            {
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                    <h2>@cs[0].Name</h2>
                                </button>
                            </h5>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Postal Code</th>
                                                <th>Number of Members</th>
                                                <th>Yearly Income</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (CityReport c in cs)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.PostalCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.NumberOfMembers)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.TotalIncome)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }

        }
    }
    else if ((string)ViewData["ReportType"] == "Income Report")
    {
        <p>
            <a asp-action="DownloadIncomes" class="btn btn-info float-left">Download Household Income</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    @foreach (string header in (string[])ViewBag.Headers)
                    {
                        <th>@header</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (HouseholdInformation hi in ViewBag.Report)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => hi.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hi.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hi.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hi.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hi.IncomeSource)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => hi.TotalIncome)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}