@model GROW_CRM.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Category Details: @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Items)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Items)
            {
                <a asp-action="Details" asp-controller="Items" asp-route-id="@item.ID">@item.Name</a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID"><i class="fa-solid fa-pen-to-square"></i> Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
