@model GROW_CRM.Models.Household

@{
    ViewData["Title"] = "Household Details";
}

    @{

        if (!String.IsNullOrEmpty(Model.Name))
        {
            <h2> @Html.Raw("Household Name: ")  @Html.DisplayFor(model => model.Name) </h2>
        }
        else
        {
            <h2> @Html.Raw("Household ID: ")  @Html.DisplayFor(model => model.ID) </h2>
        }
    }

    <h4>Details</h4>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            <dl class="row">
                <dt class="col-sm-4">
                    Household Name:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    Street Number:
                    @*@Html.DisplayNameFor(model => model.StreetNumber)*@
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StreetNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.StreetName):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StreetName)
                </dd>
                <dt class="col-sm-4">
                    Apt. Number:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AptNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.City):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PostalCode):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </dl>
        </div>
        <div class="col-sm-7">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastVerification):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastVerification)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.YearlyIncome):
                </dt>
                <dd class="col-sm-8">
                    $@Html.DisplayFor(model => model.YearlyIncome)
                </dd>
                <dt class="col-sm-4">
                    Num. of Members:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumberOfMembers)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LICOVerified):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LICOVerified)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CreatedOn):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedOn)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Province):
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Province.Name)
                </dd>
                <dt class="col-sm-4">
                    Household Status:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.HouseholdStatus.Name)
                </dd>
            </dl>

        </div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Members):
                </dt>
                <dd class="col-sm-10">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Members.FirstOrDefault().FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(modelItem => Model.Members.FirstOrDefault().Age)
                                </th>
                                @*<th>
                                                            @Html.DisplayNameFor(modelItem => Model.Members.FirstOrDefault().MemberIncomeSituations)
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Members)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Age)
                                    </td>
                                    @*<td>
                                            @{
                                                int theCount = Model.Members.MemberIncomeSituations.Count;
                                                if (theCount > 0)
                                                {
                                                    string first = Model.MemberIncomeSituations.FirstOrDefault().IncomeSituation.Situation;
                                                    if (theCount > 1)
                                                    {
                                                        string theList = first;
                                                        var c = Model.MemberIncomeSituations.ToList();
                                                        for (int i = 1; i < theCount; i++)
                                                        {
                                                            theList += ", " + c[i].IncomeSituation.Situation;
                                                        }
                                                        @:Income Situations:
                                                        <a tabindex="0" class="" role="button" data-toggle="popover"
                                                           data-trigger="focus" title="IncomeSituations" data-placement="bottom"
                                                           data-content="@theList">
                                                            @first... <span class="badge badge-info">
                                                                @theCount
                                                            </span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @:Income Situations:
                                                        @first
                                                    }
                                                }
                                            }
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </dd>

            </dl>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
