@model IEnumerable<GROW_CRM.ViewModels.YearlyReportVM>

@{
    ViewData["Title"] = "YearlyAssessment";
}

<h1>Yearly Reassessment</h1>

<p>
    <a asp-action="DownloadIncomes" class="btn btn-info float-right">Download Yearly Assessment (Nothing here yet)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Members)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingReassessment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Members)
            </td>

            <td>
                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="@Html.DisplayFor(modelItem => item.Members)">
                    @Html.DisplayFor(modelItem => item.Members)
                </button>
            </td>

            <td>
                @{
                    int theCount = item.Members.Count();
                    if (theCount > 0)
                    {
                        string first = item.Members.FirstOrDefault().ToString();
                        if (theCount > 1)
                        {
                            string theList = first;
                            var c = item.Members.ToList();
                            for (int i = 1; i < theCount; i++)
                            {
                                theList += ", " + c[i];
                            }
                            @:Alt:
                            <a tabindex="0" class="" role="button" data-toggle="popover"
                               data-trigger="focus" title="Alternate Sports" data-placement="bottom"
                               data-content="@theList">
                                @first... <span class="badge badge-info">
                                    @theCount
                                </span>
                            </a>
                        }
                        else
                        {
                            @:Alt:
                            @first
                        }
                    }
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendingReassessment)
            </td>
        </tr>
}
    </tbody>
</table>
