@model GROW_CRM.ViewModels.EmployeeVM

@{
    ViewData["Title"] = "Account";
}

<h2>Account for: @Model.FullName</h2>

<div class="text-danger">@TempData["message"]</div>

<div>
    <hr />
    <div class="alert alert-danger" style="display: none;">
        <strong>Note:</strong>
        <ul id="errorMessage"></ul>
    </div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.NumberOfPushSubscriptions)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.NumberOfPushSubscriptions)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit Account Details</a> |
    <a asp-action="Push" asp-route-EmployeeID="@Model.ID">Notifications on this Device</a>
</div>
@section Scripts {
    <script>
        //Vapid public key.
        var applicationServerPublicKey = '@ViewBag.PublicKey';
    </script>
    <script src="~/js/CheckSubscription.js"></script>
}
