@model GROW_CRM.Models.Household

@{
    ViewData["Title"] = "Edit";
   
}
    @{

        if (!String.IsNullOrEmpty(Model.Name))
        {
            <h3> @Html.Raw("Edit ") @Html.DisplayFor(model => model.Name) </h3>
        }
        else
        {
            <h3> @Html.Raw("Household # ") @Html.DisplayFor(model => model.ID) </h3>
        }
    }

    <hr />
    <form asp-action="Edit">
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group border p-4 rounded">
                    <legend class="w-auto">Address</legend>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CityID" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="City" data-content="Members city name."><b>?</b></a>
                        <select asp-for="CityID" class="form-control" asp-items="ViewBag.CityID">
                            <option value="">Select a City</option>
                        </select>
                        <span asp-validation-for="CityID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProvinceID" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Province" data-content="Members province name."><b>?</b></a>
                        <select asp-for="ProvinceID" class="form-control" asp-items="ViewBag.ProvinceID">
                        </select>
                        <span asp-validation-for="ProvinceID" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AptNumber" class="control-label"></label><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Apartment Number" data-content="Members apartment number (if there is one)."><b>?</b></a>
                                <input asp-for="AptNumber" class="form-control" />
                                <span asp-validation-for="AptNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StreetNumber" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Street Number" data-content="Members street number."><b>?</b></a>
                                <input asp-for="StreetNumber" class="form-control" />
                                <span asp-validation-for="StreetNumber" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="StreetName" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Street Name" data-content="Members street name."><b>?</b></a>
                        <input asp-for="StreetName" class="form-control" />
                        <span asp-validation-for="StreetName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Postal Code" data-content="Members postal code."><b>?</b></a>
                        <input asp-for="PostalCode" class="form-control" id="postal-code" placeholder="Example: A2B 3C4" pattern="/^[ABCEGHJ-NPRSTVXY]\d[ABCEGHJ-NPRSTV-Z][ -]?\d[ABCEGHJ-NPRSTV-Z]\d$/i" title="Example: A2A 2B2" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <input type="hidden" value="false" asp-for="LICOVerified" />
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="form-group border p-4 rounded">
                    <legend class="w-auto">Other Info</legend>
                @if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    <button id="custom-id-btn" class="btn btn-outline-primary">Custom ID?</button>
                    <div class="form-group">
                        <label id="NewIDLabel" class="control-label">Member ID:</label><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Custom ID" data-content="Customized Member ID."><b>?</b></a>
                        @Html.TextBox("NewID", null, new { @class = "form-control" })
                    </div>
                }                
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Household Name" data-content="Household Name."><b>?</b></a>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HouseholdStatusID">Household status</label><span style="color:red">*</span><a href="javascript:void(0)" data-trigger="focus" data-toggle="popover" title="Household Status" data-content="Household status with grow."><b>?</b></a>
                        <select asp-for="HouseholdStatusID" class="form-control" asp-items="ViewBag.HouseholdStatusID">
                        </select>
                        <span asp-validation-for="HouseholdStatusID" class="text-danger"></span>
                    </div>
                </fieldset>
            </div>
        </div>
        <hr />

        <div class="form-group mt-3">
            <a asp-action="Index" class="btn btn-outline-secondary mr-3">Cancel</a>
            <input type="submit" value="Save" class="btn btn-outline-primary" />
        </div>

    </form>
    <div>
        <a class="mt-3" asp-action="Index">Back to List</a>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var input = document.getElementById('postal-code');

        input.onkeyup = function () {
            this.value = this.value.replace(/\s/g, '').replace(/^(.{3})(.{3})(.*)$/, '$1 $2').trim();

            if (input.value.length > 7) {
                this.value = this.value.substr(0, 7);
            }
            else {
                this.value = this.value.toUpperCase();
            }
        }
</script>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>
@if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin")){
    <script>
    $(document).on('click', '#custom-id-btn', function(event){
        event.preventDefault();
        var ci = $('#custom-id');
        if(ci.css('display') === 'none'){
            ci.css('display', 'block')
            return;
        }
        ci.css('display', 'none');
    })
</script>
}
}
