@model GROW_CRM.Models.Household

@{
    ViewData["Title"] = "Edit";
   
}

<h2 >Edit</h2>
@{

    if (!String.IsNullOrEmpty(Model.Name))
    {
    <h3> @Html.Raw("Household Name : ") @Html.DisplayFor(model => model.Name) </h3>
    }
    else
    {
<h3> @Html.Raw("Household # ") @Html.DisplayFor(model => model.ID) </h3>
    }
}

<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="AptNumber" class="control-label"></label>
                        <input asp-for="AptNumber" class="form-control" />
                        <span asp-validation-for="AptNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="StreetNumber" class="control-label"></label>
                        <input asp-for="StreetNumber" class="form-control" />
                        <span asp-validation-for="StreetNumber" class="text-danger"></span>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <label asp-for="StreetName" class="control-label"></label>
                    <input asp-for="StreetName" class="form-control" />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostalCode" class="control-label"></label>
                    <input asp-for="PostalCode" class="form-control" id="postal-code" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="CityID" class="control-label"></label>
                    <select asp-for="CityID" class="form-control" asp-items="ViewBag.CityID"></select>
                    <span asp-validation-for="CityID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProvinceID" class="control-label"></label>
                    <select asp-for="ProvinceID" class="form-control" asp-items="ViewBag.ProvinceID"></select>
                    <span asp-validation-for="ProvinceID" class="text-danger"></span>
                </div>

            </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="HouseholdStatusID" class="control-label"></label>
                        <select asp-for="HouseholdStatusID" class="form-control" asp-items="ViewBag.HouseholdStatusID"></select>
                        <span asp-validation-for="HouseholdStatusID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastVerification" class="control-label"></label>
                        <input asp-for="LastVerification" type="date" class="form-control" />
                        <span asp-validation-for="LastVerification" class="text-danger"></span>
                    </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="LICOVerified" /> @Html.DisplayNameFor(model => model.LICOVerified)
                    </label>
                </div>
                <hr />
                <div class="row justify-content-end">
                    <div class="form-group">

                        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
                        <input type="submit" value="Save" class="btn btn-primary mx-3" />
                    </div>
                </div>
                
            </div>
    </div>

</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        var input = document.getElementById('postal-code');

        input.onkeyup = function () {
            this.value = this.value.replace(/\s/g, '').replace(/^(.{3})(.{3})(.*)$/, '$1 $2').trim();

            if (input.value.length > 7) {
                this.value = this.value.substr(0, 7);
            }
            else {
                this.value = this.value.toUpperCase();
            }
        }
</script>
}
