@model IEnumerable<GROW_CRM.Models.Household>

@{
    ViewData["Title"] = "Household Index";
}

<h2>Household Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    @* <div class="form-group col-md-4">
            <label class="control-label">Filter by Household:</label>
            @Html.DropDownList("HouseholdID", null, "All Households", htmlAttributes: new { @class = "form-control" })
        </div>*@
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Filter by Status:</label>
                                @Html.DropDownList("HouseholdStatusID", null, "All Statuses", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="form-group col-md-5">
                        <label class="control-label">Search by Household Address:</label>
                        @Html.TextBox("StreetSearch", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Search by City:</label>
                        @Html.TextBox("CitySearch", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Search by Household Code:</label>
                        @Html.TextBox("CodeSearch", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Code" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Street #" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Street" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Apartment" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="City" class="btn btn-link" />
                </th>

                <th>
                    <input type="submit" name="actionButton" value="Province" class="btn btn-link" />
                </th>

                <th>
                    <input type="submit" name="actionButton" value="Members" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="LICO" class="btn btn-link" />
                </th>


                <th>
                    <input type="submit" name="actionButton" value="Status" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseholdCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StreetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AptNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfMembers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LICOVerified)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.HouseholdStatus.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Index" asp-controller="HouseholdMembers" asp-route-HouseholdID="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>