@model IEnumerable<GROW_CRM.Models.Household>

@{
    ViewData["Title"] = "Households Index";
}

    <div class="row ">
        <div class="col-md-6">
            <h2>Households</h2>
        

        
            <a class="btn btn-outline-info" asp-area="" asp-controller="Members" asp-action="Index">Members Index</a>
                
            <a class="btn btn-outline-success" asp-action="Create">Create New</a>
            
            <a asp-controller="NotificationTypes" asp-route-id="2" asp-action="Notification" class="btn btn-primary linkClick">Send Notification</a>
            </div>
        </div>





    <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <text class="d-none d-lg-inline">Filter</text><text class="d-inline d-lg-none">Filter/Sort</text>
        </button>
        <br />
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
            <div class="d-block d-lg-none">
                    <div class="form-group">
                        <label class="control-label">Sort By:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" class="" value="desc"
                                           @((ViewData["sortDirection"].ToString() != "asc" ? "checked=\"checked\"" : ""))
                                           name="sortDirectionCheck" />&nbsp;&nbsp;Descending
                                </div>
                            </div>
                            <select name="sortFieldID" class="form-control" asp-items="ViewBag.sortFieldID"></select>
                        </div>
                    </div>
                </div>
                <div class="card card-body bg-light">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label">Search by ID:</label>
                                    @Html.TextBox("IDSearch", null, new { @class = "form-control", placeholder = "123", RegularExpression = "^[0-9]*$" })
                                </div>
                                <div class="invalid-feedback">
                                    Only numeric values for ID.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label">Filter by Status:</label>
                                    @Html.DropDownList("HouseholdStatusID", null, "All Statuses", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Household Address:</label>
                            @Html.TextBox("StreetSearch", null, new { @class = "form-control", placeholder = "E.g. 4377 Fourth Ave" })
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by City:</label>
                            @Html.TextBox("CitySearch", null, new { @class = "form-control", placeholder = "E.g. St Catharines" })
                        </div>
                        <div class="form-group col-md-4 align-self-end pr-3">
                            <input type="submit" name="actionButton" value="Apply" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid d-block d-lg-none">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                @foreach(var item in Model)
                {
                    //Make a card for each one
                    <div class="card mb-sm-3" style="min-width: 18rem;">
                        <h5 class="card-header"><strong>Family Last Name: @Html.DisplayFor(modelItem=>item.Name)</strong></h5>
                        <div class="card-body">
                            <div class="media-body m1-2">
                                <strong>ID:</strong> @Html.DisplayFor(modelItem=>item.ID)<br />
                                <strong>Street #:</strong> @Html.DisplayFor(modelItem=>item.StreetNumber)<br />
                                <strong>Street Name:</strong> @Html.DisplayFor(modelItem=>item.StreetName)<br />
                                <strong>Apartment:</strong> @Html.DisplayFor(modelItem=>item.AptNumber)<br />
                                <strong>City:</strong> @Html.DisplayFor(modelItem=>item.City.Name)<br />
                                <strong>Members:</strong> @Html.DisplayFor(modelItem=>item.NumberOfMembers)<br />
                                <strong>Status:</strong> @Html.DisplayFor(modelItem=>item.HouseholdStatus.Name)<br />
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Index" asp-controller="HouseholdMembers" asp-route-HouseholdID ="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </div>
                    </div>
                }
                    
                </div>
            </div>
        </div>

        <div class="table-responsive">
        <table class="table d-none d-lg-block">
            @*<colgroup>
                <col />
                <col width="300" />
                <col />
            </colgroup>*@
            <thead class="thead-dark">
                <tr>
                    <th>
                        <input type="submit" name="actionButton" value="ID" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Street #" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Street Name" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Apartment" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="City" class="btn btn-link" />
                    </th>

                    @*<th>
                        <input type="submit" name="actionButton" value="Province" class="btn btn-link" />
                    </th>*@

                    <th>
                        <input type="submit" name="actionButton" value="Members" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="LICO" class="btn btn-link" />
                    </th>


                    <th>
                        <input type="submit" name="actionButton" value="Status" class="btn btn-link" />
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AptNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Province.Name)
                        </td>*@
                        <td>
                            <center>
                                @{
                                    int memberCount = item.NumberOfMembers;
                                    if (memberCount > 0)
                                    {
                                        @Html.Raw(memberCount)
                                    }
                                    else
                                    {
                                        @Html.Raw("0")
                                    }
                                }
                            </center>
                            @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/4.3/components/collapse/*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LICOVerified)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.HouseholdStatus.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" class="text-warning h4" data-toggle="tooltip" data-placement="top" title="Edit" asp-route-id="@item.ID">
                                <i class='bx bxs-edit-alt'></i>
                            </a>
                            <a asp-action="Index" class="h4" data-toggle="tooltip" data-placement="top" title="Details" asp-controller="HouseholdMembers" asp-route-HouseholdID="@item.ID">
                                <i class='bx bx-info-square'></i>
                            </a>
                            <a asp-action="Add" class="text-success h4" data-toggle="tooltip" data-placement="top" title="Add Member" asp-controller="HouseholdMembers" asp-route-HouseholdID="@item.ID" asp-route-HouseholdName="@item.Name">
                                <i class='bx bx-user-plus'></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </form>
    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
            $('.popover-dismiss').popover({
                trigger: 'focus'
            })
            $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
        </script>
    }
