@model IEnumerable<GROW_CRM.Models.Household>

@{
    ViewData["Title"] = "Memberships Index";
}


<div class="row ">
    <div class="col-md-6">
        <h2>Memberships</h2>
    </div>

    <div class="col-md-3 justify-content-end">
        <a class="btn btn-outline-info" asp-area="" asp-controller="Members" asp-action="Index">Members Index</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    </div>
</div>





    <form asp-action="Index" method="get">
        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
        <div class="form-horizontal">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter/Search
            </button>
            <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
                <div class="card card-body bg-light">
                    <div class="row">
                        @* <div class="form-group col-md-4">
                                <label class="control-label">Filter by Household:</label>
                                @Html.DropDownList("HouseholdID", null, "All Households", htmlAttributes: new { @class = "form-control" })
                            </div>*@

                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label">Filter by Status:</label>
                                    @Html.DropDownList("HouseholdStatusID", null, "All Statuses", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Household Address:</label>
                            @Html.TextBox("StreetSearch", null, new { @class = "form-control", placeholder = "E.g. 4377 Fourth Ave"})
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by City:</label>
                            @Html.TextBox("CitySearch", null, new { @class = "form-control" , placeholder = "E.g. St Catharines" })
                        </div>
                        <div class="form-group col-md-4 align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <colgroup>
                <col />
                @*<col width="300" />*@
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>
                        <input type="submit" name="actionButton" value="Membership#" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Street #" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Street" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Apartment" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="City" class="btn btn-link" />
                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Province" class="btn btn-link" />
                    </th>

                    <th>
                        <input type="submit" name="actionButton" value="Members" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="LICO" class="btn btn-link" />
                    </th>


                    <th>
                        <input type="submit" name="actionButton" value="Status" class="btn btn-link" />
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            #@Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AptNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Province.Name)
                        </td>
                        <td>
                            @{
                                int memberCount = item.NumberOfMembers;
                                if (memberCount > 0)
                                {
                                    string firstSpec = item.Members.FirstOrDefault().FullName;
                                    if (memberCount > 1)
                                    {
                                        string memberList = "";
                                        var c = item.Members.ToList();
                                        for (int i = 1; i < memberCount; i++)
                                        {
                                            memberList += c[i].FullName + " <br />";
                                        }
                                        <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)"
                                           aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                            @firstSpec... <span class="badge badge-info">@memberCount</span>
                                        </a>
                                        <div class="collapse" id="collapseSum@(item.ID)">
                                            @Html.Raw(memberList)
                                        </div>
                                    }
                                    else
                                    {
                                        @firstSpec
                                    }
                                }
                            }
                            @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/4.3/components/collapse/*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LICOVerified)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.HouseholdStatus.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Index" asp-controller="HouseholdMembers" asp-route-HouseholdID="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>

    @section Scripts {
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>
    }
