@model GROW_CRM.Models.Order 

@{
    ViewData["Title"] = "Create";
}

<h2>Create Order</h2>
<hr />
<partial name="_OrderItemsModal" />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Order Information</legend>
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="Household" class="control-label"></label>
                        <select asp-for="HouseholdID" class="form-control" asp-items="ViewBag.HouseholdID">
                            <option value="0">Select the Household</option>
                        </select>
                        <span asp-validation-for="HouseholdID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Member" class="control-label"></label>
                        <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID">
                            <option value="">Select Household First</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Payment" class="control-label"></label>
                        <select asp-for="Payment" class="form-control" asp-items="ViewBag.PaymentTypeID">
                            <option value="">Select Payment Type</option>
                        </select>
                        <span asp-validation-for="Payment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Volunteer" class="control-label"></label>
                        <input asp-for="Volunteer" class="form-control" />
                        <span asp-validation-for="Volunteer" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group border p-4 rounded">
                    <legend class="w-auto">Purchases</legend>
                    <div class="form-group" id="ListOrderItemss">
                        @*<label class="control-label">
                            <button class="btn btn-outline-secondary" id="nowAddIncomeSituation" data-toggle="modal" data-target="#addIncomeSituationModal" type="button">
                                <strong>+</strong>
                            </button>
                            <strong>Income Situations</strong>
                        &nbsp; &nbsp;
                        </label>*@
                        <button class="btn btn-outline-success modal-link" tag="" name="CreateForm" data-toggle="modal" data-target="#theOrderItemsModal" title="Add Item" type="button">
                            &#x271A;
                        </button><a href="#" data-toggle="popover" title="Items" data-content="Member's Items:"><b>?</b></a>
                        <div class="col-md-offset-1" id="OrderItemsList">
                            @*<table>
                                @{
                                    foreach (var item in Model.OrderItems.OrderBy(oi => oi.Item.Name))
                                    {
                                        @:<tr><td>
                                                @item.Item.Name
                                            @:</td><td>
                                                @:&nbsp; &nbsp;
                                                <button class="btn btn-sm modal-link" tag="@item.ID" name="EditForm" data-toggle="modal" data-target="#theOrderItemsModal" title="Edit @item.Item.Name" type="button">&#x270D;</button>
                                                <button class="btn btn-sm modal-link" tag="@item.ID" name="DeleteForm" data-toggle="modal" data-target="#theOrderItemsModal" title="Delete @item.Item.Name" type="button">&#x274C;</button>
                                            @:</td></tr>
                                        }
                                }
                            </table>*@
                        </div>
                    </div>
                </fieldset>


                @*<div class="col-md-8">
                    <div class="form-group col-md-4">
                        <label class="control-label">Items Purchased</label> <button type="button" id="btnItemRight" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Choose Items</label> <button type="button" id="btnItemLeft" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                    </div>
                </div>*@


            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
<div>
    <a href='@ViewData["returnURL"]'>Back to List of Orders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}