@model GROW_CRM.Models.Order

@{ ViewData["Title"] = "Create"; }

<h2>Create Order for: @Model.Member.FullName</h2>

<hr />
<partial name="_OrderModal" />
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Customer Information</legend>
                <input type="hidden" name="ID" value="@Model.ID" />
                <input type="hidden" name="MemberID" value="@Model.MemberID" />
                <input type="hidden" name="Date" value="@Model.Date" />

                <div class="col-md-6">
                    <p>Household: @ViewData["Household"]</p>
                    <p>Address: @ViewData["Address"]</p>
                    <p>Date: @DateTime.Today.Date</p>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <div class="col-md-12">
                <fieldset class="form-group border p-4 rounded">
                    <legend class="w-auto">Order Information</legend>
                    <div class="form-group" id="ListMemberIncomeSituations">
                        <label class="control-label"><strong>Order Items:</strong> &nbsp; &nbsp;</label><button class="btn btn-outline-success modal-link" tag="" name="CreateForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Add Order Items" type="button">&#x271A;</button>
                        <div class="col-md-offset-12" id="OrderItemList">
                            <table>
                                @{ double subtotal = 0;
                                    double taxes = 0;
                                    double total = 0;

                                    foreach (var item in Model.OrderItems.OrderBy(s => s.Item.Name))
                                    {
                                        subtotal += (item.Item.Price * item.Quantity);

                            @:<tr><td>

                                    @item.Item
                                    @:</td><td>
                                    @:&nbsp; &nbsp;
                                    <button class="btn btn-sm modal-link" tag="@item.ID" name="EditForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Edit @item.Item.Code" type="button">&#x270D;</button>
                                    <button class="btn btn-sm modal-link" tag="@item.ID" name="DeleteForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Delete @item.Item.Code" type="button">&#x274C;</button>
                                    @:</td></tr>
                                    }
                            <tr>
                                <td>Subtotal:</td>
                                <td>@subtotal</td>
                                <td><input type="hidden" name="Subtotal" value="@subtotal" /></td>
                            </tr>
                                    taxes = Math.Round(subtotal * 0.15, 2);

                            <tr>
                                <td>GST/HST:</td>
                                <td>@taxes</td>
                                <td><input type="hidden" name="Taxes" value="@taxes" /></td>
                            </tr>
                                    total = subtotal + taxes;
                            <tr>
                                <td>Total:</td>
                                <td>@total</td>
                                <td><input type="hidden" name="Total" value="@total" /></td>
                            </tr>
                                }
                            </table>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
<div>
    <a href='@ViewData["returnURL"]'>Back to Orders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>
}