@model GROW_CRM.Models.Order

@{ ViewData["Title"] = "Delete"; }

<h2>Delete Order #@Model.ID</h2>

<h4>Are you sure you want to delete @Model.Member.Household.Name order?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Household)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Household.FullAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderItems)
        </dt>
        <dd class="col-sm-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.OrderItems.FirstOrDefault().Item)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => Model.OrderItems.FirstOrDefault().Quantity)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
}
                </tbody>
            </table>
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subtotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Taxes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Taxes)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.Type)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a href='@ViewData["returnURL"]'>Back to Orders</a> |
        <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.Member.ID">Back to Member</a>
    </form>
</div>
