@model GROW_CRM.Models.Order

@{ ViewData["Title"] = "Details"; }

<h2>Order: @Model.ID</h2>

<h4>Details for Household @Model.Member.Household.Name</h4>

<div class="row mb-3">
    <div class="col-md-12 d-flex">
        <a class="btn btn-outline-info" asp-action="GetOrderPdf" asp-route-id="@Model.ID">Receit</a>
    </div>
</div>

<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Customer Information</legend>
                <dl class="row">
                    <dt class="col-sm-2">
                        Member
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Member.FullName)
                    </dd>
                    <dt class="col-sm-2">
                        Address
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Member.Household.FullAddress)
                    </dd>
                    <dt class="col-sm-2">
                        Date
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                </dl>
            </fieldset>
        </div>
        
        @*table of products and quantity*@
        <div class="col-md-6">
            <fieldset class="form-group border p-4 rounded">
                <legend class="w-auto">Purchases</legend>
                <dl class="row">
                    @*<dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.OrderItems)
                        </dt>*@
                    <dd class="col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => Model.OrderItems.FirstOrDefault().Item)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => Model.OrderItems.FirstOrDefault().Item.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(modelItem => Model.OrderItems.FirstOrDefault().Quantity)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderItems)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                    </tr>}
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </fieldset>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <fieldset class="form-group border p-4 rounded">
            <legend class="w-auto">Payment and Total</legend>
            @*<dl class="col-md-3">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Subtotal)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Subtotal)
                    </dd>
                </dl>
                <dl class="col-md-3">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Taxes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Taxes)
                    </dd>
                </dl>*@
            <div class="col-md-3">
                <dl class="col-md-3">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                </dl>
            </div>
            <div class="col-md-3">
                <dl class="col-md-3">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PaymentType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PaymentType.Type)
                    </dd>
                </dl>
            </div>
        </fieldset>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a href='@ViewData["returnURL"]'>Back to Orders</a> |
    <a asp-controller="Members" asp-action="Details" asp-route-id="@Model.Member.ID">Back to Member</a> | 
    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
</div>
