@using GROW_CRM.Models;
@model IEnumerable<GROW_CRM.Models.Order>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createOrderModal">
        Create
    </button>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member.Household)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @ViewData["Household"]
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Member.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PaymentType.Type)
    </td>
    <td>
        <a asp-action="Edit" class="text-warning h3" data-toggle="tooltip" data-placement="top" title="Edit" asp-route-id="@item.ID">
                            <i class='bx bxs-edit-alt'></i>
                        </a>
                         |
                        <a asp-action="Details" class="h3" data-toggle="tooltip" data-placement="top" title="Details" asp-route-id="@item.ID"> <i class='bx bx-info-square'></i></a> |
                        <a asp-action="Delete" class="text-danger h3" data-toggle="tooltip" data-placement="top" title="Delete" asp-route-id="@item.ID"> <i class='bx bx-minus-circle'></i></a>
    </td>
</tr>}
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).on('click', '#searchHH', function (event) {
            event.preventDefault();
            var code = $('#code');
            var codeSerialized = code.serialize();

            $.ajax({
                type: "GET",
                url: 'Orders/GetMembers',
                data: code.serialize(),
                success: function (data) {                    
                    $('#searchHErr').html("");

                    var membersDDL = $('#membersDDl')
                    membersDDL.html("");
                    membersDDL.append($('<option></option>').val(0).html("Select Member"))
                    $.each(data, function (index, item) {                                                                                               
                        membersDDL.append(
                            $('<option></option>').val(item.id).html(item.fullName)
                        );
                    });
                },
                error: function (err) {  
                    var membersDDL = $('#membersDDl')

                    $('#searchHErr').html(err.responseText)
                    membersDDL.html("");
                    membersDDL.append($('<option></option>').val(0).html("Select Member"))                    
                }
            });
        })

        $(document).on('submit', "#theMemberIncomeSituationsForm", function(event){            
            var memberID = $('#membersDDl').val();            
            if(memberID === "0"){        
                event.preventDefault();
                $('#searchHErr').html("Please, select an existing member.")
                return;
            }
        })
    </script>
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
}