@model IEnumerable<GROW_CRM.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Order Index</h2>

<p>
    <a asp-action="Create">Create New Order</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search
        </button>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Household ID:</label>
                        @Html.DropDownList("HouseholdID", null, "All Households", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Member Name:</label>
                        @Html.TextBox("MemberSearch", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Volunteer:</label>
                        @Html.TextBox("VolunteerSearch", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Household" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Member" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Date" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Purchases" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Total" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Payment" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" value="Volunteer" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Household)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseMember)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purchases)
                    </td>
                    <td>
                        Primary: <strong>@Html.DisplayFor(modelItem => item.Purchases)</strong><br />
                        @{
                            int theCount = item.Purchases.Count();
                            if (theCount > 0)
                            {
                                string first = item.Purchases.FirstOrDefault().ToString();
                                if (theCount > 1)
                                {
                                    string theList = first;
                                    var c = item.Purchases.ToList();
                                    for (int i = 1; i < theCount; i++)
                                    {
                                        theList += ", " + c[i];
                                    }
                                    @:Alt:
                                    <a tabindex="0" class="" role="button" data-toggle="popover"
                                       data-trigger="focus" title="All Purchases" data-placement="bottom"
                                       data-content="@theList">
                                        @first... <span class="badge badge-info">
                                            @theCount
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    @:Alt:
                                    @first
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Volunteer)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}
