@model GROW_CRM.Models.Member

@{
    ViewData["Title"] = "Create";
}


<h2>Create Member</h2>
<hr />
<partial name="_MemberIncomeSituationModal" />
<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label><span style="color:red">*</span>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="PhoneNumber" class="form-control" placeholder="9050000000"  onkeydown="phoneNumberFormatter()" id="phone-number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Email" class="form-control" placeholder="example@email.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="HouseholdID" class="control-label"></label><span style="color:red">*</span>
                <select asp-for="HouseholdID" class="form-control" asp-items="ViewBag.HouseholdID"></select>
            </div>

            <div class="form-group">
                <label asp-for="YearlyIncome" class="control-label"></label>
                <textarea asp-for="YearlyIncome" class="form-control"></textarea>
                <span asp-validation-for="YearlyIncome" class="text-danger"></span>
            </div>

            <div class="form-group" id="ListMemberIncomeSituations">
                    <label class="control-label"><strong>Income Situations</strong> &nbsp; &nbsp;</label><button class="btn btn-outline-success modal-link" tag="" name="CreateForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Add Income Situation" type="button">&#x271A;</button>
                    <div class="col-md-offset-1" id="IncomeSituationList">
                        <table>
                            @{
                                foreach (var item in Model.MemberIncomeSituations.OrderBy(s=>s.IncomeSituation.Situation))
                                {
                                    @:<tr><td>
                                        @item.Summary 
                                    @:</td><td>
                                        @:&nbsp; &nbsp;
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="EditForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Edit @item.Summary" type="button">&#x270D;</button>
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="DeleteForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Delete @item.Summary" type="button">&#x274C;</button>
		                            @:</td></tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>


        </div>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   <script>
    $(document).on('click', '#auto-fill', function(event){
        document.getElementById("FirstName").value = "Ricardo";
        document.getElementById("MiddleName").value = "R";
        document.getElementById("LastName").value = "Fernandes";
        document.getElementById("DOB").value = "03/03/1995";
        document.getElementById("GenderID").value = "1";
        document.getElementById("Name").value = "House Fernandes";
    })
</script>
}
