@model GROW_CRM.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Member: @Html.DisplayFor(model => model.FullName)</h2>
<hr />
<partial name="_MemberIncomeSituationModal" />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label><span style="color:red">*</span>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID"></select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="YearlyIncome" class="control-label"></label>
                <input asp-for="YearlyIncome" class="form-control" />
                <span asp-validation-for="YearlyIncome" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label><span style="color:red">*</span>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
                @*<label asp-for="HouseholdID" class="control-label">Household ID</label>*@
                <label>Household ID</label>
                <select asp-for="HouseholdID" class="form-control" asp-items="ViewBag.HouseholdID"></select>
                <span asp-validation-for="HouseholdID" class="text-danger"></span>
            </div>
            <div class="form-group" id="ListMemberIncomeSituations">
                <label class="control-label"><strong>Income Situations</strong> &nbsp; &nbsp;</label><button class="btn btn-outline-success modal-link" tag="" name="CreateForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Add Income Situation" type="button">&#x271A;</button>
                <div class="col-md-offset-1" id="MemberIncomeSituationList">
                    <table>
                        @{
                            foreach (var item in Model.MemberIncomeSituations.OrderBy(s=>s.IncomeSituation.Situation))
                                {
                                    @:<tr><td>
                                        @item.Summary 
                                    @:</td><td>
                                        @:&nbsp; &nbsp;
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="EditForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Edit @item.Summary" type="button">&#x270D;</button>
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="DeleteForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Delete @item.Summary" type="button">&#x274C;</button>
		                            @:</td></tr>
                                }
                        }
                    </table>
                </div>
            </div>


        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
            //New for modal
            function refreshModal(actionForm, MemberIncomeSituationsID) {
              switch (actionForm) {
                  case 'CreateForm': $('#formMemberIncomeSituationBody').load('/MemberIncomeSituations/CreateMemberIncomeSituation/' + @Model.ID);
                    break;
                  case 'EditForm': $('#formMemberIncomeSituationBody').load('/MemberIncomeSituations/EditMemberIncomeSituation/' + MemberIncomeSituationsID);
                    break;
                  case 'DeleteForm': $('#formMemberIncomeSituationBody').load('/MemberIncomeSituations/DeleteMemberIncomeSituation/' + MemberIncomeSituationsID)
                    break;
                default: break;
              };
            return;
            };
            $(document).on("click", ".modal-link", function () {
                var actionForm = $(this).attr("name");
                var MemberIncomeSituationsID = $(this).attr("tag");
                refreshModal(actionForm, MemberIncomeSituationsID);
            });
            $(document).on("click", "#submitMemberIncomeSituationsForm", function (event) {
                event.preventDefault();
                var form = $('#theMemberIncomeSituationsForm');
                if (form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function () {
                            console.log($('#theMemberIncomeSituationModal'))
                            $('#theMemberIncomeSituationModal').modal('hide');
                        },
                        error: function () {
                            alert("Operation Failed.  There was a problem maintaing the data.");
                        }
                    });
                }
                return false;
            });
        $('#theMemberIncomeSituationModal').on('hide.bs.modal', function () {
            $('#MemberIncomeSituationList').load('/HouseholdMembers/MemberIncomeSituationList/@Model.ID');
            });
</script>
}
