@model IEnumerable<GROW_CRM.Models.Member>

@{
    ViewData["Title"] = "Members";
}

<h2>Members</h2>

<div class="alert alert-info col-md-6" role="alert">
    <section>
        <h5> Adding member to the household:</h5>
        <ol>
            <li>Go to <a class="btn-link" asp-controller="Households" asp-action="Index">Households</a></li>
            <li>Find an existing Household or <a class="btn-link" asp-controller="Households" asp-action="Create">Create New Household</a></li>
            <li>Go to Household <b>Details</b> ---> Add New Member. </li>
        </ol>
    </section>
</div>
   
    

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Sort
        </button>
        <br />
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body bg-body text-black">
                <div class="d-block d-lg-none">
                    <div class="form-group">
                        <label class="control-label">Sort By:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" class="" value="desc"
                                           @((ViewData["sortDirection"].ToString() != "asc" ? "checked=\"checked\"" : ""))
                                           name="sortDirectionCheck" />&nbsp;&nbsp;Descending
                                </div>
                            </div>
                            <select name="sortFieldID" class="form-control" asp-items="ViewBag.sortFieldID"></select>
                        </div>
                    </div>
                </div>
                <div class="card card-body bg-light">
                    <div class="row">
                        @* <div class="form-group col-md-4">
                                <label class="control-label">Filter by Household:</label>
                                @Html.DropDownList("HouseholdID", null, "All Households", htmlAttributes: new { @class = "form-control" })
                            </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="control-label">Filter by Gender:</label>
                                    @Html.DropDownList("GenderID", null, "All Genders", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Member Name:</label>
                            @Html.TextBox("MemberSearch", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Phone:</label>
                            @Html.TextBox("PhoneSearch", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Household Address:</label>
                            @Html.TextBox("HouseholdSearch", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Search by Household ID:</label>
                            @Html.TextBox("HouseholdIDSearch", null, new { @class = "form-control" })
                        </div>

                        <div class="form-group col-md-4 align-self-end">
                            <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                            <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid d-block d-lg-none">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                @foreach (var item in Model)
                {
                    //Make a card for each one
                    <div class="card mb-sm-3" style="min-width: 18rem;">
                        <h5 class="card-header"><strong>Member Name: @Html.DisplayFor(modelItem => item.FullName)</strong></h5>
                        <div class="card-body">
                            <div class="media-body m1-2">
                                <strong>Household ID:</strong> @Html.DisplayFor(modelItem => item.Household.ID)<br />
                                <strong>Age:</strong> @Html.DisplayFor(modelItem => item.Age)<br />
                                <strong>Phone Number:</strong> @Html.DisplayFor(modelItem => item.PhoneFormatted)<br />
                                <strong>E-mail:</strong> @Html.DisplayFor(modelItem => item.Email)<br />
                            </div>

                        </div>
                        <div class="card-footer">
                            <a asp-action="Update" asp-controller="HouseholdMembers" asp-route-id="@item.ID">Update</a> |
                            <a asp-action="Details" title="Details" asp-route-id="@item.ID">Details</a> |
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <a asp-action="Delete" title="Delete" asp-route-id="@item.ID">Delete</a>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive" >
                <table class="table ">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                <input type="submit" disabled="disabled" value="Household ID: " class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Member" class="btn btn-link" />
                                @*@Html.DisplayNameFor(model => model.FullName)*@
                            </th>
                            @*<th>
                            <input type="submit" name="actionButton" value="Gender" class="btn btn-link" />
                        </th>*@
                            <th>
                                <input type="submit" name="actionButton" value="Age" class="btn btn-link" />
                            </th>

                            <th>
                                <input type="submit" disabled="disabled" value="Phone Number" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" disabled="disabled" value="Email" class="btn btn-link" />
                            </th>


                            @*<th>
                            <input type="submit" name="actionButton" value="Situation" class="btn btn-link" />
                        </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <center># @Html.DisplayFor(modelItem => item.HouseholdID)</center>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                @*<td>
                                @Html.DisplayFor(modelItem => item.Gender.Name)
                            </td>*@

                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                @* <td>
                                @Html.DisplayFor(modelItem => item.Household.StreetNumber) @Html.DisplayFor(modelItem => item.Household.StreetName)<br />
                                @Html.DisplayFor(modelItem => item.Household.City)
                                @Html.DisplayFor(modelItem => item.Household.Province)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeSituation.Situation)
                            </td>*@
                                <td>
                                    <a asp-action="Update" class="text-warning h4" data-toggle="tooltip" data-placement="top" title="Edit" asp-controller="HouseholdMembers" asp-route-id="@item.ID"><i class='bx bxs-edit-alt' style="color:grey"></i></a>
                                    <a asp-action="Details" class="h4" data-toggle="tooltip" data-placement="top" title="Details" asp-route-id="@item.ID"><i class='bx bx-info-square'></i></a>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a asp-action="Delete" class="text-danger h4" data-toggle="tooltip" data-placement="top" title="Delete" asp-route-id="@item.ID"><i class='bx bx-minus-circle'></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <partial name="_PagingNavBar" />
</form>

@section Scripts {
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
}
