@model GROW_CRM.Models.Member

@{
    ViewData["Title"] = "Add Member";
}

<h3>
    Add Member to Household : @ViewData["HouseholdName"]
</h3>
<hr />
<partial name="_addIncomeSituationModal" />
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <input type="hidden" name="HouseholdID" value="@Model.HouseholdID" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="ConsentGiven"></label>
                <input asp-for="ConsentGiven"/>                
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderID" class="control-label"></label>
                <select asp-for="GenderID" class="form-control" asp-items="ViewBag.GenderID">
                    <option value="">Select Gender</option>
                </select>
                <span asp-validation-for="GenderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="YearlyIncome" class="control-label"></label>
                <input asp-for="YearlyIncome" class="form-control" />
                <span asp-validation-for="YearlyIncome" class="text-danger"></span>
            </div>

            <div class="form-group" id="ListMemberIncomeSituations">
                    <label class="control-label"><strong>Income Situations</strong> &nbsp; &nbsp;</label><button class="btn btn-outline-success modal-link" tag="" name="CreateForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Add Income Situation" type="button">&#x271A;</button>
                    <div class="col-md-offset-1" id="IncomeSituationList">
                        <table>
                            @{
                                foreach (var item in Model.MemberIncomeSituations.OrderBy(s=>s.IncomeSituation.Situation))
                                {
                                    @:<tr><td>
                                        @item.Summary 
                                    @:</td><td>
                                        @:&nbsp; &nbsp;
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="EditForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Edit @item.Summary" type="button">&#x270D;</button>
                                        <button class="btn btn-sm modal-link" tag="@item.ID" name="DeleteForm" data-toggle="modal" data-target="#theMemberIncomeSituationModal" title="Delete @item.Summary" type="button">&#x274C;</button>
		                            @:</td></tr>
                                }
                            }
                        </table>
                    </div>
                </div>

            @* <div class="form-group">
                    <label asp-for="IncomeSituationID" class="control-label"></label>
                    <select asp-for="IncomeSituationID" class="form-control" asp-items="ViewBag.IncomeSituationID">
                        <option value="">No Reason Given</option>
                    </select>
                    <span asp-validation-for="IncomeSituationID" class="text-danger"></span>
                </div>*@

            <label asp-for="Notes" class="control-label"></label>
            <textarea asp-for="Notes" rows="5" cols="40" class="form-control"></textarea>
            <span asp-validation-for="Notes" class="text-danger"></span>

            <div class="col-md-8">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label"> Illness Accredited</label> <button type="button" id="btnIllnessRight" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedIllnessOptions", (MultiSelectList)ViewBag.selIllnessOpts, new { @size = 10, @class = "form-control" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label"> Choose Illness</label> <button type="button" id="btnIllnessLeft" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availIllnessOptions", (MultiSelectList)ViewBag.availIllnessOpts, new { @size = 10, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label"> Concerns Accredited</label> <button type="button" id="btnConcernRight" class="btn btn-danger btn-sm">
                            <strong>-</strong>
                        </button>
                        @Html.ListBox("selectedConcernOptions", (MultiSelectList)ViewBag.selConcernOpts, new { @size = 10, @class = "form-control" })
                    </div>

                    <div class="form-group col-md-6">
                        <label class="control-label"> Choose Concerns</label> <button type="button" id="btnConcernLeft" class="btn btn-success btn-sm">
                            <strong>+</strong>
                        </button>
                        @Html.ListBox("availConcernOptions", (MultiSelectList)ViewBag.availConcernOpts, new { @size = 10, @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Documents:</label>
                <input type="file" class="" name="theFiles" multiple="multiple" />
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
    <div>
        <a asp-area="" asp-controller="Households" asp-action="Index">Back to Households List</a> | <a asp-action="Index" asp-controller="HouseholdMembers" asp-route-HouseholdID="@Model.HouseholdID">Back To Household Details</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script src="~/js/refreshDDL.js"></script>
        <script src="~/js/multiselect.js"></script>               
        <script type="text/javascript">
            $('#submitIncomeSituationCreate').click(function (event) {
                event.preventDefault();
                var form = $('#createIncomeSituationForm');
                if (form.valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.attr('action'),
                        data: form.serialize(),
                        success: function () {
                            $('#addIncomeSituationModal').modal('hide');
                        },
                        error: function () {
                            alert("Create Failed.  There was a problem adding the record.");
                        }
                    });
                }
                return false;
            });
            $('#addIncomeSituationModal').on('hide.bs.modal', function () {
                $('#createIncomeSituationForm').find("input[type=text], textarea, select").val("");//to clear the data in the popup
                refreshDDL('IncomeSituationID', '/HouseholdMembers/GetIncomeSituations', false, null, true, 'None', true);
            });
        </script>
    }

