@model IEnumerable<GROW_CRM.Models.Member>

@{
    ViewData["Title"] = "Household Members";
    GROW_CRM.Models.Household household = (GROW_CRM.Models.Household)ViewBag.Household;
}
<p> </p>
<div class="media">    
    <div class="media-body ml-3">

        @{

            if (!String.IsNullOrEmpty(household.Name))
            {
                <h2>@household.Name </h2>
            }
            else
            {
                <h2> @Html.Raw("Household # ") @household.ID </h2>
            }
        }

       
        <a asp-action="Delete" class="btn-danger btn" asp-controller="Households" asp-route-id="@household.ID">Delete</a>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Lico Info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LICO Table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
            <tr>
                <th>Size of Family</th>
                <th>LICO 12 Months</th>
                <th>LICO 6 Months</th>
            </tr>
            <tr>
                <td>one person</td>
                <td>$27,589</td>
                <td>$13,794</td>
            </tr>
            <tr>
                <td>two persons</td>
                <td>$34,346</td>
                <td>$17,173</td>
            </tr>
            <tr>
                <td>three persons</td>
                <td>$42,224</td>
                <td>$21,112</td>
            </tr>
            <tr>
                <td>four persons</td>
                <td>$51,267</td>
                <td>$25,633</td>
            </tr>
            <tr>
                <td>five persons</td>
                <td>$58,145</td>
                <td>$29,072</td>
            </tr>
            <tr>
                <td>six persons</td>
                <td>$65,578</td>
                <td>$32,789</td>
            </tr>
            <tr>
                <td>seven persons</td>
                <td>$73,011</td>
                <td>$36,506</td>
            </tr>
            <tr>
                <td>for each additional member after seven</td>
                <td>$7,433</td>
                <td>$3,717</td>
            </tr>
        </table>
      </div>      
    </div>
  </div>
</div>

        <div class="row">
            <div class="col-md-6">
                <label for="membership">Membership#</label>
                <span id="membership">#@Html.DisplayFor(model => household.ID)</span><br />
                <label for="addr">Address:</label>
                <span id="addr">@Html.DisplayFor(model => household.FullAddress)</span><br />                
                <label for="income">@Html.DisplayNameFor(model => household.YearlyIncome)</label>
                <span id="income">$@Html.DisplayFor(model => household.YearlyIncome)</span><br />
                <label for="lico">LICO Verified:</label>
                <div id="lico"><svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </symbol>
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        @{
                            if (!household.LICOVerified)
                            {
                                <div class="alert alert-danger d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                    <div>
                                          <b>Not LICO Verified</b>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                                    <div>
                                          <b>Verified</b>
                                    </div>
                                </div>
                            }
                        }</div>
            </div>
            <div class="col-md-6">
                <label for="num">@Html.DisplayNameFor(model => household.NumberOfMembers)</label>
                <span id="num">@Html.DisplayFor(model => household.NumberOfMembers)</span><br />
                <label for="join">Joined On:</label>
                <span id="join">@household.CreatedOn?.Month/@household.CreatedOn?.Day/@household.CreatedOn?.Year</span><br />
                <label for="status">Status</label>
                <span id="status">@Html.DisplayFor(model => household.HouseholdStatus.Name)</span><br />
                <label for="verification">Yearly Verification:</label>
                <div id="verification"><svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </symbol>
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                        </svg>
                        @{
                            DateTime now = DateTime.Now;
                            int dateDiff = (now - @household.LastVerification).Days;
                            if (dateDiff >= 365)
                        {
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
    <b>@household.VerificationStatus</b>
  </div>
</div>    
                        }                                                        
                        else if (dateDiff >= 335){
                                <div class="alert alert-warning d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                                    <div>
                                          <b>@household.VerificationStatus</b>
                                    </div>
                            </div>
                        } 
                        else
                            {
                                <div class="alert alert-success d-flex align-items-center" role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>
                                    <div>
                                          <b>@household.VerificationStatus</b>
                                    </div>
                                </div>
                            }
                        }</div>
            </div>            
        </div>
    </div>
</div>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <input type="hidden" name="HouseholdID" value="@household.ID" />

    <dl class="dl-horizontal">
        <dt>
            <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter
            </button>
        </dt>
        <dd>
            <div class="form-horizontal">
                <div class="collapse card card-body bg-light" style="padding-top: 10px; padding-bottom: 0px;" id="collapseFilter">
                    <div class="form-row">
                        <div class="form-group col-md-3 ml-md-3">
                            <label class="control-label">Reason:</label>
                            @Html.DropDownList("IncomeSituationID", null, "All Situations", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4 ml-md-3">
                            <label class="control-label">Search Notes:</label>
                            @Html.TextBox("NotesSearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Search Name:</label>
                            @Html.TextBox("MemberSearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3 align-self-end">
                            <input type="submit" name="actionButton" value="Apply" class="btn btn-primary mr-3" />
                            <a asp-action="Index" asp-route-HouseholdID="@household.ID" class="btn btn-outline-secondary">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </dd>
        <dt>
        </dt>
        <dd>
            <div>
                <table class="table">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <tr>
                        <th>
                            <input type="submit" name="actionButton" value="Member" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Income Situation" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Gender" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Age" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="disabled" value="Yearly Income" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Documents" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Notes" class="btn btn-link" />
                        </th>
                        <th>
                            <a asp-controller="HouseholdMembers" asp-action="Add" asp-route-HouseholdID="@household.ID" asp-route-HouseholdName="@household.Name">
                                <span class="btn btn-success"><strong>&#x271A; Add</strong></span>
                            </a>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.FullName)*@
                        <a asp-controller="Members" asp-action="Details" asp-route-id="@item.ID">@item.FullName</a> <br />
                    </td>
                    <td>
                        @{
                            var list = (List<List<MemberIncomeSituation>>)ViewBag.MisList;
                            var misList = (List<List<MemberIncomeSituation>>)list.Where(mis => mis.FirstOrDefault()?.MemberID == item.ID).Select(mis => mis).ToList();
                            int theCount = misList.FirstOrDefault() == null ? 0 : misList.FirstOrDefault().Count;
                            if (theCount > 0)
                            {
                                string first = misList.FirstOrDefault().FirstOrDefault().Summary;
                                if (theCount > 1)
                                {
                                    string theList = first;
                                    var c = misList.ToList();
                                    for (int i = 1; i < theCount; i++)
                                    {
                                        theList += ", \n" + c.FirstOrDefault()[i].Summary;
                                    }
                                    <a tabindex="0" class="" role="button" data-toggle="popover"
                                       data-trigger="focus" title="IncomeSituations" data-placement="bottom"
                                       data-content="@theList">
                                        @first... <span class="badge badge-info">
                                            @theCount
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    @first
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                       $ @Html.DisplayFor(modelItem => item.YearlyIncome)
                    </td>
                    <td>
                        @{
                            int fileCount = item.MemberDocuments.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = item.MemberDocuments.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                        <span class="badge badge-info">@fileCount</span> Current Documents...
                                    </a>
                                    <div class="collapse" id="collapseSum@(item.ID)">
                                        @{
                                            foreach (var d in item.MemberDocuments)
                                            {
                                                <a asp-action="Download" asp-route-id="@d.ID">@d.FileName</a> <br />
                                            }

                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-action="Download" asp-route-id="@firstFile.ID">@firstFile.FileName</a>
                                }
                            }
                        }
                        @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/4.3/components/collapse/*@
                    </td>
                    <td>
                        @{if (!string.IsNullOrEmpty(item.Notes))
                            {
                                string[] noteWords = item.Notes.Split(' ');
                                if (noteWords.Count() > 5)
                                {
                                    <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                        @(string.Join(" ", noteWords.Take(5)) + "...")
                                    </a>
                                    <div class="collapse" id="collapseSum@(item.ID)">
                                        <div class="well">
                                            @(string.Join(" ", noteWords.Skip(5)))
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @item.Notes
                                }
                            }
                        }
                        @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/3.3/javascript/#collapse*@
                    </td>
                    <td>
                        <a asp-controller="HouseholdMembers" asp-action="Update" asp-route-id="@item.ID">
                            <span class="btn btn btn-outline-primary">Edit</span>
                        </a>
                       
                    </td>
                    <td>
                        <a asp-controller="HouseholdMembers" asp-action="Remove" asp-route-id="@item.ID">
                            <span class="btn btn btn-outline-danger">Delete</span>
                        </a>
                    </td>
                </tr>
                    }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </table>
            </div>
        </dd>
    </dl>
    <partial name="_PagingNavBar" />
</form>
<div>
    <a asp-action="Edit" asp-controller="Households" asp-route-id="@household.ID">Edit</a> | 
    <a href='@ViewData["returnURL"]'>Back to Households List</a>
</div>
@section Scripts {
    <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>
}
