@model IEnumerable<GROW_CRM.Models.Member>

@{
    ViewData["Title"] = "Household Members";
    GROW_CRM.Models.Household household = (GROW_CRM.Models.Household)ViewBag.Household;
}
<p> </p>
<div class="media">    
    <div class="media-body ml-3">
        <h2><text class="d-none d-sm-inline">Household Address: </text>@household.FullAddress</h2>
        <div class="row">
            <div class="col-sm-6">
                <dl class="row">
                    <dt class="col-md-4">
                        Household #
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.ID)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => household.YearlyIncome)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.YearlyIncome)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => household.NumberOfMembers)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.NumberOfMembers)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => household.LICOVerified)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.LICOVerified)
                    </dd>
                    <dt class="col-md-4">
                        Joined on:
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.CreatedOn)
                    </dd>
                    <dt class="col-md-4">
                        @Html.DisplayNameFor(model => household.HouseholdStatus)
                    </dt>
                    <dd class="col-md-8">
                        @Html.DisplayFor(model => household.HouseholdStatus.Name)
                    </dd>
                </dl>
            </div>           
        </div>
    </div>
</div>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <input type="hidden" name="HouseholdID" value="@household.ID" />

    <dl class="dl-horizontal">
        <dt>
            <button class="btn @(ViewData["Filtering"])" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter
            </button>
        </dt>
        <dd>
            <div class="form-horizontal">
                <div class="collapse card card-body bg-light" style="padding-top: 10px; padding-bottom: 0px;" id="collapseFilter">
                    <div class="form-row">
                        <div class="form-group col-md-4 ml-md-3">
                            <label class="control-label">Reason:</label>
                            @Html.DropDownList("IncomeSituationID", null, "All Situations", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Search Notes:</label>
                            @Html.TextBox("SearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3 align-self-end">
                            <input type="submit" name="actionButton" value="Apply" class="btn btn-primary" />
                            <a asp-action="Index" asp-route-PatientID="@household.ID">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </dd>
        <dt>
        </dt>
        <dd>
            <div>
                <table class="table">
                    <colgroup>
                        <col span="1" />
                        <col span="1" />
                        <col span="1" />
                        <col span="1" width="400" />
                        <col span="1" />
                    </colgroup>
                    <tr>
                        <th>
                            <input type="submit" name="actionButton" value="Member" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Income Situation" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Gender" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Age" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" disabled="disabled" value="Notes" class="btn btn-link" />
                        </th>
                        <th>
                            <a asp-controller="HouseholdMembers" asp-action="Add" asp-route-HouseholdID="@household.ID" asp-route-HouseholdAddress="@household.FullAddress">
                                <span class="btn btn-success"><strong>&#x271A; Add</strong></span>
                            </a>
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeSituation.Situation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @{
                                    string[] noteWords = item.Notes.Split(' ');
                                    if (noteWords.Count() > 5)
                                    {
                                        <a class="" role="button" data-toggle="collapse" href="#collapseSum@(item.ID)" aria-expanded="false" aria-controls="collapseSum@(item.ID)">
                                            @(string.Join(" ", noteWords.Take(5)) + "...")
                                        </a>
                                        <div class="collapse" id="collapseSum@(item.ID)">
                                            <div class="well">
                                                @(string.Join(" ", noteWords.Skip(5)))
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @item.Notes
                                    }
                                }
                                @*For help with Bootstrap Collapse see: https://getbootstrap.com/docs/3.3/javascript/#collapse*@
                            </td>
                            <td>
                                <a asp-controller="HouseholdMembers" asp-action="Update" asp-route-id="@item.ID">
                                    <span class="btn btn-sm btn-outline-primary">&#x270D;</span>
                                </a>
                                <a asp-controller="HouseholdMembers" asp-action="Remove" asp-route-id="@item.ID">
                                    <span class="btn btn-sm btn-outline-danger">&#x274C</span>
                                </a>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td></td>                        
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </dd>
    </dl>
    <partial name="_PagingNavBar" />
</form>
<div>
    <a asp-action="Edit" asp-controller="Households" asp-route-id="@household.ID">Edit</a> |
    <a href='@ViewData["returnURL"]'>Back to Households List</a>
</div>
@section Scripts {
    <script type="text/javascript">
            $(function () {
                $('[data-toggle="popover"]').popover();
            });
    </script>
}
