@using GROW_CRM.ViewModels.ReportsViewModels


@{
    <div class="row">
    <a asp-action="DownloadNewMembers" class="btn btn-info" style="margin-left: 15px">Download New Members Report</a>
    </div>
    <br />
    <div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                @foreach (string header in (string[])ViewBag.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (NewAdditionsReport item in ViewBag.Report)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Members)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncomeFormated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}