@using GROW_CRM.ViewModels.ReportsViewModels

@{
    <div class="row">
        <a asp-action="DownloadDemographics" class="btn btn-info float-left" style="margin-left: 15px">Download Demographics Report</a>
    </div>
    <br />
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2>Demographics By Gender</h2>
                    </button>
                </h5>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped rounded-lg">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Gender</th>
                                    <th>Percentage</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (GenderReport item in ViewBag.GenderReport)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender)
                                        </td>
                                        <td>
                                            @(Math.Round(item.Percentage *100 , 2))%
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <h2>Demographics By Age</h2>
                    </button>
                </h5>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped rounded-lg">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Age Range</th>
                                    <th>Percentage</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (AgeReport item in ViewBag.AgeReport)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AgeRange)
                                        </td>
                                        <td>
                                            @(Math.Round(item.Percentage * 100, 2))%
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <h2>Demographics By Dietary Restrictions</h2>
                    </button>
                </h5>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive">
                        <table class="table table-striped rounded-lg">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Restriction</th>
                                    <th>Percentage</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DietaryReport item in ViewBag.DietaryReport)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Restriction)
                                        </td>
                                        <td>
                                            @(Math.Round(item.Percentage * 100, 2))%
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                        
}
