@using GROW_CRM.ViewModels.ReportsViewModels

<div class="row">
    <a asp-action="DownloadMapping" class="btn btn-info float-left" style="margin-left: 15px">Download Mapping Report</a>
</div>
<br />

<div class="accordion" id="accordion">
    @{
        <div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <h2>Demographics By Cities</h2>
                        </button>
                    </h5>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table table-striped rounded-lg">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>City</th>
                                        <th>Percentage</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CitiesReport item in ViewBag.CitiesReport)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @(Math.Round(item.Percentage * 100, 2))%
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        foreach (List<CityReport>
            cs in ViewBag.CityReports)
        {
            @if (cs.Count() > 0)
                        {
                            string id = cs[0].Name.Replace(' ', '-').Replace('.', '-');
                <div>
                    <div class="card">
                        <div class="card-header" id="@($"heading{id}")">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#@id" aria-expanded="true" aria-controls="@id">
                                    <h2>@cs[0].Name</h2>
                                </button>
                            </h5>
                            <div id="@id" class="collapse" aria-labelledby="@($"heading{id}")" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="table-responsive">
                                    <table class="table table-striped rounded-lg">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Postal Code</th>
                                                <th>Number of Members</th>
                                                <th>Yearly Income</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (CityReport c in cs)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.PostalCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.NumberOfMembers)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => c.TotalIncomeFormated)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        }
    }
</div>