@using GROW_CRM.ViewModels.ReportsViewModels
<br>
<h4>Items created this week: @ViewData["Count"]</h4>
<br>
@{
    @if ((int)ViewData["Count"] > 0)
    {
        <div class="row">
            <a asp-action="DownloadNewItems" class="btn btn-info float-left" style="margin-left: 15px">Download New Items Report</a>
        </div>
    }
    <br />
    <div class="table-responsive">
    <table class="table table-striped rounded-lg">
        <thead class="thead-dark">
            <tr>
                @foreach (string header in (string[])ViewBag.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (NewItemsReport item in ViewBag.Report)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}