@using GROW_CRM.ViewModels.ReportsViewModels

@if ((int)ViewData["Count"] > 0)
{
    <a asp-action="DownloadRenewal" class="btn btn-info float-left" style="margin-left: 15px">Download Renewal Report</a>
}

<div class="table-responsive">
<table class="table table-striped rounded-lg">
    <thead class="thead-dark">
        <tr>
            @foreach (string header in (string[])ViewBag.Headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (RenewalReport item in ViewBag.Report)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Members)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Income)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastVerified.Date)
                </td>
            </tr>

        }
    </tbody>
</table>
</div>